<div class="container">
  <div class="row cocktail-index">
      <h2>Our cocktails</h2>
      <div class="search">
        <% if @query %>
          <h4>Found <u><%= @cocktails.count %> <%= @query %></u> on our website.</h4>
        <% else %>
          <h4>All <%= pluralize @cocktails.count, 'cocktail' %></h4>
        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="cards grid-cocktails">
        <% @cocktails.each do |cocktail| %>
          <%= link_to (cocktail_path(cocktail)) do%>
          <div class="card-cocktail">
              <% if cocktail.photo.attached? %>
                <%= cl_image_tag cocktail.photo.key, crop: :fill, class:'card-img', alt: "cocktail" %>
              <% else %>
                <%= image_tag "drink.png", crop: :fill, class:'card-img', alt: "cocktail img" %>
              <% end %>
              <h2><%= cocktail.name %></h2>
            </div>

          <% end %>
        <% end %>
      </div>
  </div>

  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-light"><%= link_to "Back to home", root_path %></button>
  </div>

  </div>
