<div class="footer">
  <div class="footer-links">
    <%= link_to 'https://www.facebook.com' do %>
      <%= icon('fab', 'facebook-square', class: 'fa-2x mr-2') %>
    <% end %>
    <%= link_to 'https://twitter.com' do %>
      <%= icon('fab', 'twitter-square', class: 'fa-2x mr-2') %>
    <% end %>
    <%= link_to 'https://pinterest.com' do %>
      <%= icon('fab', 'pinterest-square', class: 'fa-2x mr-2') %>
    <% end %>
    <%= link_to '#' do %>
      <%= icon('fa', 'envelope-square', class: 'fa-2x') %>
    <% end %>
  </div>
  <div class="footer-copyrights">
    <p>This is a project by a Le Wagon student</p>
  </div>
</div>
